/* Style spécifique au quiz */
#quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    overflow-x: auto;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #219150;
}

#resultat {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
